canvas {
  border: 1px solid black;
  width: 100%;
  height: 100%;
}

.Canvas {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.inputContainer > div {
  margin-bottom: 10px;
}

.inputContainer label {
  font-weight: bold;
  margin-right: 10px;
}

.inputContainer input[type="number"] {
  width: 60px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

#submitButton {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#submitButton:hover {
  background-color: #45a049;
}